root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{ts,js,cjs,mjs,json,jsonc,html,scss,css,md,yml,yaml}]
indent_style = space
indent_size = 2

[*.md]
# Markdown allows trailing 2 spaces as <br> — don't auto-strip
trim_trailing_whitespace = false
